<meta charset="utf-8">
<title>cpu tornado</title>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="/static/js/jquery-1.12.4.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- basic styles -->

{#<link href="{{ static_url('assets/css/bootstrap.min.css') }}" rel="stylesheet" />#}
{#<link rel="stylesheet" href="{{ static_url('assets/css/font-awesome.min.css') }}" />#}
{#<link rel="shortcut icon" href="{{ static_url('img/17chang.jpg') }}">#}